*, *::after, *::before {
    margin: 0;
}

body {
    background-color: rgb(201, 201, 201);
}

.card {
    width: 300px;
    color: black;
    margin: auto;
    background-color: white;
    box-shadow: 1px 1px 20px black;
    margin-top: 50px;
}

img {
    width: 300px;
}

article {
    padding: 10px;
    overflow: hidden;
}

article h4, p {
    margin-bottom: 10px;
}

article p:nth-child(3) {
    font-weight: bold;
}

article a {
    overflow: hidden;
    max-width: 33ch;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block; 
}

