@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body {
    font-family: 'Gochi Hand';
    background-color: #eee;
}

main {
    width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 20px 0;
    margin-top: 20px;
    border-radius: 0.8rem;
    box-shadow: 0 0 20px #ccc;
}

.bg-image { 
    height: 50vh;
    background-image: url('./images/nature.jpg');
    background-position: center;
    background-size:cover;
    position: relative;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    margin: 0 20px;
}

.text {
    margin: 20px;
    margin-bottom: 10px;
    padding: 20px;
    background-color: white;
    border-radius: 0.8rem;
    text-align: center;
    position: absolute;
    bottom: 1px;
}

.text h1 {
    font-size: 22px;
    margin-bottom: 6px;
}

.text p {
    font-size: 14px;
    color: #777;
}

.user-information {
    padding: 30px 40px;
}

.user-information h1 {
    font-size: 25px;
    margin-bottom: 20px;
}

.user-information p {
    color: #777;
    margin-top: 10px;
}

.line {
    border-top: 1px solid #ccc;
    margin-top: 20px;
}