@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato";
}

h1 {
    font-family: "Montserrat";
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}

.navimg img{
    width: 80px;
}

.menu {
    color: white;
    display: flex;
    justify-content: flex-end;
    width: 70%;
}

.menu ul {
    display: flex;
    
}

.menu ul li {
    padding: 10px 20px;
    list-style-type: none;
}

.menu ul li:hover {
    background-color: rgb(77, 77, 77);
}

.green {
    height: 300px;
    background-color: rgb(0, 176, 0);
    text-align: center;
}

.green h1 {
    color: white;
    padding-top: 40px;
    font-size: 25px;
}

.music { 
    width: 45%;
    position: absolute;
    z-index: 0;
    top: 100px;
}

.music img {
    width: 100%;

}

.plans {
    display: flex;
    justify-content:space-evenly;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 160px;
}

section {
    width: 400px;
    box-shadow: 0 0 5px;
    background-color: white;
    border-radius: 10px;
}

.student > :first-child, .family > :first-child {
    padding: 20px 40px;
}

.student > :first-child h1, .family > :first-child h1 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 40px;
    color: #555;
}

.student ul li, .family ul li {
    list-style-type: circle;
    margin-bottom: 5px;
    color: #666;
    font-size: 14px;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 25px;  
}

.button button {
    all: unset;
    padding: 10px 20px;
    background: none;
    border: none;
    font-size: 13px;
    color: white;
    font-weight:600;
    background-color: rgb(25, 180, 84);
    border-radius: 45px;
    cursor: pointer;
}

.family > :nth-child(2), .student > :nth-child(2) {
    background-color: #222;
    color: white;
    padding: 15px;
    text-align: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.price {
    display: flex;
    justify-content:space-evenly;
}

.price > :first-child {
    border-right: 1px solid white;
    padding-right: 5px;
}

/* Dogopal section  */
.dogopal {
    display: flex;
    position: absolute;
    top: 600px;
    justify-content: flex-start;
}

.dogotext, .dogoimg {
    padding: 0 4.5rem;
}

.dogotext {
    width: 55%;
}

.dogotext h1 {
    font-size: 17px;
    margin-bottom: 20px;
}

.dogotext p {
    font-size: 15px;
    margin-bottom: 20px;
}

.dogoimg {
    width: 20%;

}

.dogoimg img {
    width: 100%;
}


