body {
    width: 80%;
    margin: auto;
    margin-top: 30px;

}


main {
    display: flex;
    justify-content: center;
    
}

.first {
    margin: auto;
    width: 100%;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.workday, .weekend {
    text-align: center;
    border-bottom: 1px solid gray;
    padding: 25px 0;
}


.working, .notworking {
    display: flex;
    text-align: center;
}

.working {
    border-bottom: 1px solid gray;
}

.working > section {
    width: 20%;
    border-right: 1px solid gray;
    padding: 25px 0;
}

#friday {
    border: none;
}

.notworking > section {
    width: 50%;
    padding:25px 0;
}

.notworking > section:first-child {
    border-right: 1px solid gray;
}


.second { 
    border: 1px solid gray;
    width: 35%;
    display: flex;
    flex-flow: column;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    padding: 0;
}

.second section {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.second > section:first-child {
    border-bottom: 1px solid gray;
}





