@import url("https://fonts.googleapis.com/css2?family=Margarine&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Margarine", sans-serif;
    background-color: rgb(255, 243, 229);
}

main {
    display: flex;
    margin: 0 auto;
    width: 70%;
    margin-top: 15vh;
}

.name {
    width: 30%;
    padding: 10px;
    background-color: rgb(255, 243, 229);
    margin: 5px;
    box-shadow: 20px 30px 80px rgba(0, 0, 0, 0.41);
}

.progress {
    display: flex;
    flex-direction: column;
}

.userInfo {
    border-bottom: 1px solid rgb(140, 140, 140);
    
}

.userInfo p, h1{
    padding: 10px;
}

.userInfo span {
    padding-left: 10px;
}

/* Progress ------------------------- bar */


.progress-item label {
  display: block;
  margin: 10px 0;
  font-size: 14px;
}

/* Wrapper to center the percentage */
.progress-wrapper {
  position: relative;
}

/* Base progress element */
.progress-wrapper progress {
  width: 100%;
  border-radius: 20px;
  appearance: none;
}


/* Chrome / Edge / Safari */
.progress-wrapper progress::-webkit-progress-bar {
  background-color: transparent;
  border-radius: 20px;
}

.progress-wrapper progress::-webkit-progress-value {
  background-color: hsl(206, 94%, 57%);
  border-radius: 20px;
}

/* Firefox */
.progress-wrapper progress::-moz-progress-bar {
  background-color: #2da0f8;
  border-radius: 20px;
}

/* Percentage text */
.progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 12px;
}
/* Progress bar. ---------------- END */

.experience {
    width: 70%;
    padding: 10px;
    background-color: rgb(255, 243, 229);
    margin: 5px;
    box-shadow: 20px 30px 80px rgba(0, 0, 0, 0.41);
    padding: 10px;
}

.experience h1 {
    text-align: center;
    margin: 20px;
}

.border {
    border-bottom: 1px solid rgb(140, 140, 140);
}

.experience h2 {
    color: rgb(108, 108, 108);
    margin-bottom: 20px;
}

.experience h3 {
    color: #268ddb;
    margin-bottom: 20px;
}

.experience p {
    margin-bottom: 20px;
}