@import url("https://fonts.googleapis.com/css2?family=Margarine&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Margarine", sans-serif;
    background-color: rgb(255, 243, 229);
}

main {
    display: flex;
    margin: 0 auto;
    width: 70%;
    margin-top: 15vh;
}

.name {
    width: 30%;
    padding: 10px;
    background-color: rgb(255, 243, 229);
    margin: 5px;
    box-shadow: 20px 30px 80px rgba(0, 0, 0, 0.41);
}

.progress {
    display: flex;
    flex-direction: column;
}

.userInfo {
    border-bottom: 1px solid rgb(140, 140, 140);
    
}

.userInfo p, h1{
    padding: 10px;
}

.userInfo span {
    padding-left: 10px;
}

/* Progress ------------------------- bar */

.progress-item {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}
.adobe {
    width: 90%;
    background-color: rgb(85, 157, 240);
    text-align: center;
    border-radius:50px;
    color: white;
}
.photo {
    width: 80%;
    background-color: rgb(85, 157, 240);
    text-align: center;
    border-radius:50px;
    color: white;
}

.Illustrator {
    width: 75%;
    background-color: rgb(85, 157, 240);
    text-align: center;
    border-radius:50px;
    color: white;
}

.media {
   width: 50%;
    background-color: rgb(85, 157, 240);
    text-align: center;
    border-radius:50px;
    color: white; 
}

.photo, .media, .Illustrator, .adobe {
    margin-top: 20px;
}

.progress-text {
    font-size: 13px;
}

/* Progress bar. ---------------- END */

.experience {
    width: 70%;
    padding: 10px;
    background-color: rgb(255, 243, 229);
    margin: 5px;
    box-shadow: 20px 30px 80px rgba(0, 0, 0, 0.41);
    padding: 10px;
}

.experience h1 {
    text-align: center;
    margin: 20px;
}

.border {
    border-bottom: 1px solid rgb(140, 140, 140);
}

.experience h2 {
    color: rgb(108, 108, 108);
    margin-bottom: 20px;
}

.experience h3 {
    color: #268ddb;
    margin-bottom: 20px;
}

.experience p {
    margin-bottom: 20px;
}