*,*::after, *::before {
    margin: 0;
}

header {
    background-image: url(./images/image1.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
}

.title {
    width:100%;
    color: white;
    margin: auto;
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
    position: absolute;
    top: 40%;
}

