body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
    width: 30%;
    margin: auto;
}

header h1 {
    font-size: 25px;
}

header h3 {
    color: gray;
    font-size: 18px;
    font-weight: 500;
    font-style: italic;
}

.line {
    width: 90px;
    margin-top: 40px;
    margin-bottom: 40px;
    border: none;
  border-top: 1.5px solid lightgray;
}

main {
    display: flex;
}

section {
    width: 33.33%;
    padding: 0 50px;
}

footer {
    width: 40%;
    margin: auto;
    text-align: center;
    font-size: 15px;
    color: gray;
}